{% extends "base.html" %}
{% block title %}<title>Custom 500</title>{% endblock %}
{% block content %}
  <h1>Custom 500</h1>
  <p>
    500 Internal Server Error.
    Код ответа сервера 500 Internal Server Error указывает на то,
    что сервер столкнулся с неожиданной ошибкой, которая помешала
    ему выполнить запрос. Этот код является обобщённым ответом на
    перехват всех исключений, которые не были обработаны должным
    образом. Обычно это означает, что сервер не смог найти более
    подходящего кода ответа.
  </p>
  <a href="{% url 'posts:index' %}">Идите на главную</a>
{% endblock %}